@import
url("https://fonts/googleapis.com/family=Roboto&display=swap");


* {
    box-sizing: border-box;

}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;

}

.calculator {
    width: 240px;
    height: 400px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 2px, 2px, 5px, rgba(0, 0, 0, 0.5)
}

.display{
    width: 100%;
    text-align: right;
    background-color: pink;
    padding:10px;
    font-size: 30px;
    height: 60px;
    position: relative;
    margin-top: 10px;
    

}

.display small{
    font-size: 12px;
    position: absolute;
    color: #EE9406;
    top: 5px;
    right: 5px;


}
button {
    border: none;
    border-radius: 50v;
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 24px;
    cursor: pointer;
}

button:active{
    transform: scale(0.98)
}

button:focus{
    outline: none;
}

button:hover{
    opacity: 0.9;
}
button.big-v{
    height: 110px;
    border-radius: 50px;
}

button.big-h{
    width: 110px;
    border-radius: 50px;
}

button.orange{
    background-color: EE9406;
    color: #fff;

}
button.light-gray{
    background-color: #323232;
    color: #fff;

}
button.dark-gray{
    background-color: A5A5A5;



}
.nums-container{
    width: 75%;
}
.ops-container{
    width: 25%;
}
button.ac{
    margin-right: 50%;
}





